body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  margin: 0;
}

.main-header-wrap {
  border-bottom: 1px solid #ececec;
  margin-bottom: 80px;
}

.footer,
.main-header,
.main-content {
  max-width: 1170px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  margin-bottom: 20px;
}
.footer-logo,
.main-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
}

.main-logo {
  color: #000000;
  margin-right: 70px;
}

.footer-logo .web,
.main-logo .web {
  color: #2196f3;
}

.main-navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.main-navigation-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  margin: 25px;
}
.main-navigation-link:hover,
.main-contacts-link:hover,
.main-navigation-link.active {
  color: #2196f3;
}

.main-navigation-item {
  display: inline-block;
}
.main-navigation {
  display: inline-block;
}
.main-contacts-list {
  list-style-type: none;
}

.main-contacts-item {
  display: inline-block;
}

.main-contacts-link {
  color: #757575;
  margin: 24px;
  text-decoration: none;
}

.filters-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 50px;
}

.filters-list-item {
  display: inline-block;
  margin: 0 4px;
}

.filters-list-button {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
  font-size: 14px;
  border-radius: 4px;
  background: #f5f4fa;
  border: none;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer; /* курсор */
}
.filters-list-button:hover,
.filters-list-item.active .filters-list-button {
  background-color: #2196f3;
  color: #fff;
}

.projects {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 57px;
}

.projects-item {
  margin-bottom: 33px;
}

.footer-wrap {
  background: #2f303a;
  color: #fff;
  padding: 60px 0;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo {
  color: #fff;
  margin-bottom: 20px;
}

.footer-address {
  font-style: normal;
}

.footer-address-link {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-address-link:hover {
  color: #2196f3;
}
