body {
  font-family: Roboto, sans-serif;
  color: #212121;
  margin: 0;
}

.main-header-wrap {
  border-bottom: 1px solid #ececec;
  margin-bottom: 80px;
}

.main-header {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  margin-bottom: 20px;
}

.main-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  margin-right: 70px;
}

.main-logo .web {
  color: #2196f3;
}

.main-navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.main-navigation-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  margin: 25px;
}
.main-navigation-link:hover,
.main-contacts-link:hover,
.main-navigation-link.active {
  color: #2196f3;
}

.main-navigation-item {
  display: inline-block;
}
.main-navigation {
  display: inline-block;
}
.main-contacts-list {
  list-style-type: none;
}

.main-contacts-item {
  display: inline-block;
}

.main-contacts-link {
  color: #757575;
  margin: 24px;
  text-decoration: none;
}

.filters-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filters-list-item {
  display: inline-block;
  margin: 0 4px;
}

.main-content {
  max-width: 1170px;
  margin: 0 auto;
}

.filters-list-button {
  color: #212121;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-size: 14px;
  border-radius: 4px;
  background: #F5F4FA;
  border: none;
  padding: 6px 22px;
}
